.container{
    border: 2px solid black;
    display: grid;
    /* grid-template-columns: [phela]120px [doosra]100px [t]; */
    grid-template-rows:  100px 100px;
}
.item{
    border: 2px solid rgb(126, 23, 23) ;
    height: 55px;
    width: 55px;
}
.item-4{
    grid-row: 1/2;
    grid-column: phela/t;
}
.item-1{
    /* grid-row: 1/2; */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1/2;
}