

/*body{
    background:gray;
    background-image:url(https://qph.cf2.quoracdn.net/main-qimg-12ef40f91f621b514c8adbd00fa567e7-pjlq);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}*/
    /*background: linear-gradient()
    background-repeat:no-repeat;
    background-attachment: fixed;*/
/*h1{
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-left-style:groove;
    border-left-width:12px ;
    border-left-color:gold;
    padding: 5px;
}
p{
   border-style:solid;
   border-width:5px;
   border-color:aqua;
   border-radius: 12px;
   padding: 5px;
}*/
/*--body{
    background-color:white;
}

comment h1{
    color:black;
    font-family:"Noto Sans Japanese"
"consolas",sans-serif;
}
p{
    color:blue;
     font-family:"consolas",sans-serif;
     font-style:italic;
     font-weight: bold;
     text-decoration: red dotted underline;
     font: size 32px;
}*/
