/* h2{ */
    /* text-shadow: 2.5px 0px 0px grey, 0px -3.5px 0px cyan,0px 0px 2.6px skyblue; */
/* } */
/* h2:hover{ */
    /* box-shadow: 2.5px 2.6px 3.6px; */
/* } */
/* .fa-paper-plane{ */
    /* color:blue; */
/*  */
/* } */
/* #box{ */
    /* border: 4px solid; */
    /* width: 150px; */
    /* height: 150px; */
    /* font-size: 100px; */
    /* text-align: center; */
    /* background: gray; */
    /* color:lightgreen; */
    /* transform: translateX(-50px); */
    /* transform:translateY(60px); */
    /* transform:rotateX(180deg); */
    /* transform:rotateY(180deg); */
    /* transform:scaleX(2); */
    /* transform:scaleY(1.85); */
    /* transform:skew(20deg, 20deg); */
    /* transform:matrix() */
/* } */

#box1{
    border:4px solid;
    width: 250px;
    height: 250px;
    font-size:60px;
    background-color:gray;
    color:aquamarine;

    /* animation: myslide; */
    /* animation-play-state:running; */
/*  */
    /* animation-iteration-count:infinite; */
    /* animation-delay:1s; */
    /* animation-timing-function:ease */
    /* animation-duration: 10s; */
     animation: 3s linear 0s infinite running myColorChange; 
}


@keyframes myslide{
    from{margin-left:100%;}
    to{margin-left:0%;}
}
@keyframes myRotate{
    100%{transform: rotateX(180deg)}
    100%{transform: rotateY(360deg)}
}
@keyframes myOpacity{
    50%{opacity: 0;}
}

@keyframes myScale{
    50%{transform: scale(0.5,0.5);}
}

@keyframes myColorChange{
    0%{background-color:gray;}
    20%{background-color: aqua;}
    40%{background-color:skyblue;}
    60%{background-color:lightgreen;}
    80%{background-color:darkblue;}
    100%{background-color:black}
}
@keyframes myslide{
    0%{background-image:url(https://images-eu.ssl-images-amazon.com/images/G/31/img23/Beauty/GW/yesbank/Shampoos__conditioners_pc._CB796616147_.png)};
    50%{background-image: url(https://images-eu.ssl-images-amazon.com/images/G/31/img21/MA2025/GW/BAU/Unrec/PC/934044815_1._CB551384116_.jpg);}
}